<div class="addContentsWrapper">
    <form  ng-submit="vm.addContact(contact)">
<!--          {{ contact }} -->

        <div class="inputBox">
             <i class="fa fa-user" aria-hidden="true"></i>
           <input type="text" 
                  class="nameText"
                  placeholder="Contact Name" 
                  ng-model="contact.name"
                  required>
        </div>

        <div class="inputBox">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          <input type="email"
                 class="emailText"
                 placeholder="Email (foo@bar.com)"
                 ng-model="contact.email"
                 required>
        </div>

        <div class="inputBox">
           <i class="fa fa-phone-square" aria-hidden="true"></i>
           <input type="tel" 
                  class="telText" 
                  placeholder="Phone #" 
                  ng-model="contact.phone"
                  required>
        </div>

        <div class="inputBox">
            <i class="fa fa-globe" aria-hidden="true"></i>
           <input type="text" 
                  class="addressText" 
                  placeholder="Address" 
                  ng-model="contact.address"
                  required>
        </div>

        <div class="inputBox">
            <i class="fa fa-camera-retro" aria-hidden="true"></i>
           <input type="text" 
                  class="photoBox" 
                  placeholder="Add Photo" 
                  ng-model="contact.pic"
                  required>
        </div>

          <div class="buttonBox"> 
              <button class="button">Add Contact</button>
          </div>

    </form>
</div>